.hero-card-wrapper {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    font-family: "Courier New", Courier, monospace;
    color: #000000;
    width: 600px;
    margin: 20px ;
    text-align: left;
    transition: background-color 0.3s;
}

.hero-card-wrapper pre {
    margin: 0;
    padding: 0;
    font-size: 1.1rem; 
    color: #000000; 
    transition: color 0.3s;
}

.hero-card-wrapper b {
    color: #3d7483; 
    transition: color 0.3s;
}

.dark .hero-card-wrapper {
    background-color: #282c34;
    color: white;
}

.dark pre {
    color: white;
}

.dark .hero-card-wrapper b {
    color: #61dafb;
}
